<table class="payment-order-table">
    <tr>
        <th>Joueur</th>
        <th>Echéance</th>
        <th>Prix</th>
        <th>Actions</th>
    </tr>
    {% for order in paymentOrders %}
        <tr>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
        </tr>
    {% endfor %}
</table>
