{% extends 'base.html.twig' %}

{% block title %}{{  parent() }} | Se connecter{% endblock %}

{% block body %}
<div class="container container-home">

    <h1>Clubhouse</h1>

    {# Display flash messages #}
    {{ parent() }}

    <div class="section-container">
        <section>
            <div class="card">
                <h2 class="card-title">To Do list</h2>
                <div class="card-content">
                    <ul>
                        <li><a href="#">Complétez votre profil</a></li>
                        <li><a href="#">Demandez une licence</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <h2>Prochains évènements</h2>
        </section>
    </div>
    
</div>
{% endblock %}