.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    border: 1px solid;
    margin-bottom: 0.8rem;
    @include boxShadow();

    &-error {
        color: $color-danger;
        background-color: $color-bg-danger;
        border-color: $color-border-danger;

        & > p,
        & > a {
            display: block;
            color: $color-danger;
            background-color: $color-bg-danger;
            border-color: $color-border-danger;
        }
    }

    &-warning {
        color: $color-warning;
        background-color: $color-bg-warning;
        border-color: $color-border-warning;

        & > a {
            display: block;
            color: #856404;
        }
    }

    &-success {
        color: $color-success;
        background-color: $color-bg-success;
        border-color: $color-border-success;
    }

    > p {
        margin-bottom: 0;
    }

    &.hidden {
        display: none;
    }
}
