.card-event-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.8rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid $color-border;

  .info-event {
    width: 70%;
  }

  .event-type {
    margin-bottom: 0;
  }

  .response-event {
    width: 30%;
    display: flex;
    justify-content: space-around;
    padding-right: 0.8rem;
  }

  .admin-btn {
    width: 100%;
    display: flex;
    align-items: center;

    .btn-invite {
      display: inline;
      width: 100%;
    }

    .icon {
      font-size: 1rem;
      border: 2px solid;
      padding: 0.8rem;
      border-radius: $border-radius;
    }

    .icon-edit {
      border-color: $color-secondary;
      color: $color-secondary;
    }

    .icon-delete {
      border-color: $color-danger;
      color: $color-danger;
      margin-left: 0.8rem;
    }
  }
}

.response-event-yes {
  color: $color-success;
  background-color: $color-bg-success;
  border-color: $color-border-success;
}

.response-event-no {
  color: $color-danger;
  background-color: $color-bg-danger;
  border-color: $color-border-danger;
  margin-left: 0.4rem;
  margin-right: 0.8rem;
}

@media screen and (min-width: $min-desktop) {
  .card-event-container {
    max-width: 25%;
    min-width: 300px;

    .info-event {
      width: 80%;
    }

    .response-event {
      width: 20%;
    }
  }
}
