.card-event-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid $color-border;

  &:not(:last-child) {
    margin-right: 0.8rem;
  }

  .info-event {
    width: 60%;
  }

  .event-type {
    margin-bottom: 0;
  }

  .response-event {
    width: 40%;
    display: flex;
    justify-content: flex-end;
  }

  .admin-btn {
    width: 100%;
    display: flex;
    align-items: center;

    .btn-invite {
      display: inline;
      width: 100%;
    }

    .icon {
      font-size: 1rem;
      border: 2px solid;
      padding: 0.8rem;
      border-radius: $border-radius;
    }

    .icon-edit {
      border-color: $color-secondary;
      color: $color-secondary;
    }

    .icon-delete {
      border-color: $color-danger;
      color: $color-danger;
      margin-left: 0.8rem;
    }
  }
}

.response-event-yes {
  color: $color-success;
  background-color: $color-bg-success;
  border-color: $color-border-success;

  &:visited {
    color: $color-success;
  }
}

.response-event-no {
  color: $color-danger;
  background-color: $color-bg-danger;
  border-color: $color-border-danger;
  margin-left: 0.4rem;

  &:visited {
    color: $color-danger;
  }
}

.disabled {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;

  &:visited {
    color: #383d41;
  }
}

@media screen and (min-width: $min-desktop) {
  .card-event-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.8rem;
  }

  .card-event-container {
    width: calc(33% - 0.8rem);
    min-width: 350px;

    &:not(:last-child) {
      margin-right: 0.8rem;
    }

    .info-event {
      width: 80%;
    }

    .response-event {
      width: 20%;
    }
  }
}
