.card-account {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    color: $color-background;

    .profile-picture {
        position: relative;

        img {
            @include profile-picture(50px);
            margin-right: 0.8rem;
            margin-left: 1.2rem;
        }
    }

    .member-name {
        font-size: 1.2rem;
        // overflow: hidden;

        p {
            font-weight: bolder;
            margin-bottom: 0;
            color: inherit;

            &.active {
                font-size: 0.8rem;
                color: $color-connected;
            }
        }
    }

    .actions-icon {
        display: flex;
        margin-left: auto;
        padding-right: 1.6rem;

        & .connected {
            width: 12px;
            height: 12px;
            border-radius: 12px;
            background-color: $color-connected;
            margin-right: 0.4rem;
        }
    }
}

@media screen and (min-width: $min-desktop) {
    .card-account {
        padding: 0.8rem;
        background-color: $color-background;
        color: $color-text;
        cursor: pointer;

        .profile-picture img {
            @include profile-picture(36px);
            margin-right: 0.4rem;
        }

        .member-name {
            p {
                font-size: 0.9rem;
                font-weight: normal;

                &.active {
                    font-size: 0.7rem;
                    color: $color-secondary;
                }
            }
        }

        .actions-icon {
            padding: 0.8rem;

            .icon {
                font-size: 1.2rem;
            }

            .connected {
                width: 10px;
                height: 10px;
                background-color: $color-secondary;
                margin-right: 0.2rem;
            }
        }
    }
}
