.message-card {
    display: flex;
    position: relative;
    flex-direction: column;
    @include card();

    // Force to breakline
    overflow-wrap: break-word;

    .message-data {
        display: flex;

        .author-container,
        .date-container {
            display: flex;
            width: 50%;
            font-size: 0.8rem;

            p {
                margin-bottom: 0;
            }

            svg {
                margin-right: 0.4rem;
            }
        }
    }

    .title {
        margin: 0.8rem 0 0.4rem 0;

        .is_archived {
            font-weight: bold;
            color: $color-danger;
        }
    }

    .content {
        margin-bottom: 0;
    }

    .actions {
        display: flex;

        .btn {
            width: 50%;
            margin-bottom: 0;

            &:last-child {
                margin-left: 0.8rem;
            }
        }
    }
}

@media screen and (min-width: $min-desktop) {
    .message-cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;

        .message-card {
            width: 33%;
            justify-content: space-between;
            margin-bottom: 0;
            flex-grow: 1;
        }
    }
}
