form {
  display: flex;
  flex-direction: column;
  width: 100%;

  & > div {
    margin-bottom: 1.2rem;
  }

  input,
  select,
  textarea {
    border: 1px solid $color-border;
    border-radius: $border-radius;
    padding: 0.8rem;
    width: 100%;
    margin: 0.8rem 0;
    background-color: #fff;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 4px;
    margin-right: 5px;

    &:checked {
      background-color: $color-primary;
    }
  }

  .custom-checkbox > div {
    display: flex;
    align-items: center;

    & label {
      order: 2;
    }

    & input {
      order: 1;
    }
  }

  button[type="submit"] {
    width: 100%;
  }

  // Generated errors from Symfony Type - Alerts style
  li {
    padding: 0.75rem;
    margin: 0.8rem 0;
    border-radius: 0.25rem;
    border: 1px solid;
    color: $color-danger;
    background-color: $color-bg-danger;
    border-color: $color-border-danger;
  }
}

// Styling register & edit-profile form for desktop
@media screen and (min-width: $min-desktop) {
  form {
    flex-direction: row;
    flex-wrap: wrap;

    & > div {
      width: 50%;

      &:nth-child(even) {
        padding-left: 0.8rem;
      }

      &:last-of-type {
        width: 100%;
        padding-left: 0;
      }
    }
  }
}
