form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: $color-background;
  border-radius: $border-radius;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 0 auto;

  label {
    font-size: 1rem;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    margin: 0.8rem 0 1.2rem;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    font-size: 0.8rem;
    transition: border-color 0.2s;

    &:focus {
      border-color: $color-primary-hover;
      outline: none;
    }
  }
}
