@mixin menu-styles($left, $right) {
    position: fixed;
    top: 0;
    left: $left;
    right: $right;
    width: 80%;
    height: 100vh;
    padding-top: 3.5rem;
    background: $color-primary;
    color: $color-background;
    z-index: 9999;
    transition: left 0.3s ease-in-out;
    overflow-y: auto;
}

@mixin close-icon-styles() {
    background: none;
    border: none;
    position: absolute;
    top: -0.8rem;
    z-index: 1;
    color: $color-background;
    font-size: 1.5rem;
}

@mixin menu-item-styles {
    font-size: 1rem;
    text-transform: capitalize;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: $color-primary-hover;
        transition: background-color 0.3s ease-in-out;
    }

    & a {
        display: flex;
        align-items: center;
        padding: 1rem 2rem;

        svg {
            min-width: 25px;
            padding-right: 0.4rem;
        }
    }

    &-bottom {
        position: absolute;
        bottom: 3.8rem;
    }
}

.menu {
    @include menu-styles(-100%, 0);

    a {
        color: $color-background;
    }

    &.menu-open {
        left: 0;
    }

    &.menu-closed {
        left: -100%;
    }

    .close-icon {
        @include close-icon-styles();
        left: 0.3rem;
    }
}

.menu.menu-switch-account {
    @include menu-styles(100%, -100%);

    &.menu-open {
        left: 20%;
        right: 0;
    }

    &.menu-closed {
        left: 100%;
        right: -100%;
    }

    .close-icon {
        @include close-icon-styles();
        right: calc(-80% - 0.3rem);
    }

    .menu-item-add-child {
        a {
            display: inline-block;
            padding: 0.8rem;
            font-size: 1.1rem;
        }

        svg {
            font-size: 24px;
            margin-left: 1.8rem;
            margin-right: 1.2rem;
        }
    }

    .menu-item-bottom-desktop {
        display: none;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

    .menu-item {
        @include menu-item-styles;

        &.sub-menu-item {
            padding-left: 1.4rem;
        }
    }
}

@media screen and (min-width: $min-desktop) {
    .menu {
        position: fixed;
        top: 60px;
        left: 0;
        min-width: 220px;
        max-width: 220px;
        box-shadow: none;
        background-color: $color-primary;
        padding: 0.8rem;
        overflow-y: auto;
        z-index: 9000;

        &.menu-closed {
            left: 0;
        }
    }

    .close-icon {
        display: none;
    }

    .menu-item-bottom {
        display: none;
    }

    // Switch account menu on Desktop
    .menu.menu-switch-account.menu-open {
        position: fixed;
        top: 68px;
        right: 0;
        left: auto;
        background-color: $color-background;
        color: $color-text;
        width: auto;
        height: auto;
        padding: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        max-width: none;

        .menu-item-bottom-desktop,
        .menu-item-add-child {
            display: block;

            a {
                display: flex;
                align-items: center;
                color: $color-text;
                padding: 0.8rem;
                font-size: 1rem;
            }

            svg {
                font-size: 20px;
                width: 25px;
                margin-left: 1.8rem;
                margin-right: 0.9rem;
            }
        }
    }
}
