// Background
$color-background: #e6e6e6;
$color-background-table-success: #c3e6cb;
// Blue palette
$color-primary: #0b5aa6;
$color-primary-hover: #0a7cc1;
$color-secondary: #ff810a;
// Borders
$color-border: darken(
  $color: #e6e6e6,
  $amount: 5,
);
