$border-radius: 5px;

@mixin boxShadow($opacity: 0.04) {
    box-shadow: 0 2px 5px rgba(0, 0, 0, $opacity);
}

@mixin profile-picture($size) {
    width: $size;
    height: $size;
    border-radius: $size;
    object-fit: cover;
}

@mixin main-heading-style {
    position: relative;
    padding: 0 0 1.6rem 1.6rem;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.6rem;

    // Point before heading
    &:before {
        content: ' ';
        position: absolute;
        display: block;
        bottom: 1.6rem;
        left: 0;
        width: 0.4rem;
        height: 0.4rem;
        background-color: $color-secondary;
    }
}

// TODO: Check where we can include this mixin
@mixin card() {
    border: 1px solid $color-border;
    border-radius: $border-radius;
    padding: 1.6rem 0.8rem;
    @include boxShadow();
}
