.container-attendance-event {
  li {
    margin: 0 0.8rem;
    padding: 0.8rem 0;
    border-bottom: 1px solid $color-border;

    &:last-child {
      margin-bottom: 1.4rem;
    }

    a {
      display: flex;
      align-items: center;
    }
  }

  .picture {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    margin-right: 0.8rem;
  }
}

@media screen and (min-width: $min-desktop) {
  .container-list {
    display: flex;

    .attendance-list {
      width: 33%;
    }
  }
}
