.container-download-license img {
  margin-top: 1.4rem;
  margin-bottom: 2.8rem;
  max-width: 100%;
}

@media screen and (min-width: $min-desktop) {
  .license-instructions {
    display: flex;

    .license-left {
      margin-right: 0.8rem;
    }

    .license-right {
      margin-left: 0.8rem;
    }
  }
}