.container-add-license p {
  padding: 0.8rem 0;
}

#license_subCategories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.2rem;

  label {
    width: calc(100% - 50px);
    margin-left: 0.8rem;
  }
}

@media screen and (min-width: $min-desktop) {
  #license_subCategories label {
    width: calc(33.33% - 50px);
  }
}
