@media screen and (min-width: $min-desktop) {
  .search-engine {
    max-width: 30%;
    display: flex;
    justify-content: end;
    margin-bottom: 1.6rem;

    .search-input {
      margin: 0;
      width: 80%;
    }
    .search-btn {
      margin: 0 0 0 0.8rem;
      width: 50px;
    }

    .advanced-research-link {
      font-size: 0.8rem;
      margin-top: 0.4rem;
      text-decoration: underline;
      color: $color-primary;
    }

    &.inactive {
      display: none;
    }
  }

  .advanced-search-engine {
    display: none;

    h2 {
      margin-bottom: 1.6rem;
    }

    &.active {
      display: block;
      position: relative;

      .close-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        font-size: 1.5rem;
        z-index: 8888;
      }

      form {
        .search-firstname,
        .search-lastname {
          width: 40%;
        }

        .search-gender {
          width: 20%;
          padding-left: 0.8rem;
        }

        .search-age-min,
        .search-age-max {
          width: 20%;
        }

        .search-age-min {
          padding-left: 0;
        }

        .search-age-max {
          padding-left: 0.8rem;
        }

        .search-license-status {
          width: 60%;
          padding-left: 0.8rem;
        }

        button {
          margin: 0 0 0.8rem 0;
        }
      }
    }
  }

  table {
    tr {
      cursor: pointer;

      &.focus {
        font-weight: bold;
      }
    }
  }
}
