.container-message-detail {
  .message-data {
    display: flex;
    margin-top: 0.8rem;
    margin-bottom: 1.6rem;

    .author-container,
    .date-container {
      display: flex;
      width: 50%;
      font-size: 0.8rem;

      p {
        margin-bottom: 0;
      }

      svg {
        margin-right: 0.4rem;
      }
    }
  }
}

@media screen and (min-width: $min-desktop) {
  .container-message-detail {
    .message-data {
      .author-container,
      .date-container {
        width: fit-content;
        margin-right: 1.6rem;
        font-size: 1rem;
      }
    }

    .content p {
      font-size: 1.1rem;
      line-height: 1.5rem;
    }

    .actions {
      display: flex;

      .btn {
        width: 50%;
      }

      .btn-modify {
        margin-right: 0.8rem;
      }
    }
  }
}
