.teams-list,
.users-list {
  display: none;

  &.show {
    display: block;
  }
}

@media screen and (min-width: $min-desktop) {
  .message-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .titleEnglish,
    .contentEnglish {
      width: 50%;
      padding-left: 0.8rem;
    }
  }
}
