.payment-order-collection {
    width: 100%;
}

.form-order > div {
    display: flex;

    textarea[id$='_comment'] {
        height: 44.6px;
        resize: none;
        overflow: hidden;
    }
}

.alert-container {
    width: 100%;
}
