@media screen and (min-width: $min-desktop) {
  .place-form {
    .name,
    .country {
      width: 100%;
    }

    .street {
      width: 80%;
    }

    .number {
      width: 20%;
      padding-left: 0.8rem;
    }

    .zipcode {
      width: 40%;
    }

    .locality {
      width: 60%;
      padding-left: 0.8rem;
    }
  }
}
