.profile-container {
    .card-user {
        position: relative;
        display: flex;
        align-items: center;

        .user-picture {
            display: flex;
        }

        .user-picture-container,
        .user-picture-container a {
            min-width: 120px;
            height: 162px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-right: 1rem;
            border-radius: $border-radius;
            @include boxShadow();

            .flag {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 40px;
                border-bottom-right-radius: $border-radius;
            }
        }

        .user-picture {
            height: 100%;
            width: auto;
            object-fit: cover;
            object-position: center;
            border-radius: $border-radius;
        }

        .user-info {
            width: 100%;
            min-height: 162px;
            padding: 0 0 0 0.8rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .user-lastname,
        .user-firstname {
            font-family: $font-heading;
        }

        .user-lastname {
            margin-top: 0.8rem;
            font-size: 1.5rem;
        }

        .user-info .user-firstname {
            font-size: 1.3rem;
            padding-bottom: 0.6rem;
        }

        .user-numbers {
            padding-top: 0.6rem;
            display: flex;
        }

        .jersey-number {
            margin-right: 0.8rem;
        }

        .switch-user {
            position: absolute;
            top: 1.3rem;
            right: 1.6rem;
            margin-top: 0.8rem;

            a {
                color: $color-text;
                transition: color 0.5s;

                &:hover {
                    color: $color-secondary;
                    transition: color 0.5s;
                }
            }
        }
    }

    .children-container {
        h2 {
            @include main-heading-style;
            margin-top: 2.5rem;
        }

        .user-children {
            border: none;
            padding: 0;

            .btn {
                margin: 0;
            }
        }
    }
}

@media screen and (min-width: $min-desktop) {
    .profile-container {
        .card-user {
            max-width: 45%;
        }

        .flex-container {
            display: flex;
            flex-wrap: wrap;
        }

        .user-contact,
        .user-address,
        .user-agreements,
        .card-user {
            min-width: 45%;
            margin-right: 0.8rem;
        }

        .user-contact,
        .user-address,
        .user-agreements {
            &:hover {
                transform: none;
                @include boxShadow();
            }
        }

        .card.user-info {
            &:hover {
                transform: none;
                @include boxShadow();
            }
        }
    }
}
