.container-team {
  .team-cards {
    display: none;
    flex-direction: column;
  }

  section {
    text-align: center;

    h2:before {
      left: calc(50% - 10%);
    }
  }

  .link-paragraph {
    font-size: 0.8rem;
  }

  img {
    width: 144px;
    border-radius: $border-radius;
  }
}

.container-team-detail {
  .jersey_cell {
    width: 36px;
  }

  #add_user_to_team {
    display: flex;
    flex-direction: row;
    align-items: last baseline;
  }

  #add_user_to_team_save {
    margin-left: 0.8rem;
  }

  .action-remove {
    width: 48px;
  }
}

.admin {
  display: flex;
  justify-content: center;

  a {
    width: 50%;

    &:first-child {
      margin-right: 0.8rem;
    }
  }
}

@media screen and (min-width: $min-desktop) {
  .container-team {
    .team-cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    section {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:not(:nth-of-type(3n)) {
        margin-right: 0.8rem;
      }
    }
  }
}
