<h1>{{ "event.invitation.title"|trans({}, "emails") }}</h1>

<p>
    {{ 'event.invitation.text'|trans({
        'event_name': event.name,
        'event_date': event.date|date("d/m/Y"),
        'event_time_from': event.timeFrom|format_datetime('none', 'short'),
        'event_time_meeting': event.timeMeeting|format_datetime('none', 'short'),
        'agenda_url': url('app_agenda')
    }, "emails" )|raw }}
</p>

<p>
    {{ "signature"|trans({}, "emails") }}
</p>