<h1>Bonjour ! Ta licence a été approuvée !</h1>

<p>
    Tu as maintenant la possibilité de payer ta licence en ligne à partir de l'onglet <a href="{{ url('app_license') }}">"Mes licences"</a> et ensuite en cliquant sur le logo "cartes de banque".
</p>

<p>
    Sportivement !
</p>