<h1>Bonjour ! Votre licence a été refusée!</h1>

<p>
    Aïe ! Apparemment, ta demande de licence a été refusée par un administrateur. </br>
    Voici la raison : <b>{{ reason }}</b> </br></br>
    Nous avons réinitialisé ta demande de licence, corrige ce qu'il faut et renvoie-la nous ! </br></br>
    Si tu as des questions, n'hésite pas à contacter un administrateur ou ton coach.
</p>

<p>
    Sportivement !
</p>