<h1>Bonjour ! Il y a une nouvelle licence à valider.</h1>

<p>
    Le joueur {{ user.firstname }} {{ user.lastname }} a envoyé une demande de licence. </br>
    Vous pouvez la valider à partir de <a href="{{ url('admin_license_to_validate') }}">votre panneau d'administration</a>.
</p>

<p>
    Sportivement !
</p>