{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Paiement a échoué{% endblock %}

{% block body %}
<div class="container success-container">
    <h1>Paiement refusé</h1>
    <p>Vérifie ton moyen de paiement et réessaye. </br> Si le problème persiste, contacte un administrateur ou ton coach pour trouver une solution.<p>
    <a href="{{ path('app_licenses') }}" class="btn">Revenir à la liste de mes licences</a>
</div>
{% endblock %}