{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Paiement réussi{% endblock %}

{% block body %}
<div class="container success-container">
    <h1>Paiement accepté</h1>
    <p>Merci pour ton paiement.</br> Ta licence est maintenant en ordre.<p>
    <h2>Bienvenue chez les Rebels !</h2>
    <a href="{{ path('app_license') }}" class="btn">Revenir à la liste de mes licences</a>
</div>
{% endblock %}